:root {
  --menuBg: rgb(130, 228, 179);
}

body {
  background: var(--bodyBg);
}

#menu {
  background: var(--menuBg);
}

.ui.styled.accordion .content {
  margin: 0;
  padding: 0.5em 1em 0.75em !important;
}
