/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
:root {
  --bodyBg: #e6a2b9;
  --menuBg: rgb(119, 228, 146);
  --progressBar: #bedb54;
}

body {
  background: var(--bodyBg)
 
  
}

#menu {
  background: var(--menuBg);
 
 
}




.ui.styled.accordion .content {
  margin: 0;
  padding: 0.5em 1em 0.75em !important;
}
